<div id="header-body">
    <!-- User -->
    <li class="nav-item dropdown user-drop ">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="avatar" src="../../../assets/img/avatar.png" alt="">
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-envelope"></i> Mesajlar</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-sliders"></i>Ayarlar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" (click)="logOut()"><i class="fa-solid fa-arrow-right-from-bracket"></i>Çıkış Yap</a></li>
        </ul>
    </li>
    <!--/ User -->
</div>