
.add-category{
    height: 45px;
    width: 200px;
    background-color: #fbfeff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #647C90;
    border-radius: 5px;
    border: 0.2px solid #647C90;
    cursor: pointer;
    margin:16px;
}
.add-subcategory{
    height: 35px;
    width: 150px;
    background-color: #fbfeff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #647C90;
    border-radius: 5px;
    border: 0.2px solid #647C90;
    cursor: pointer;
    margin: 0px 16px;
}
.add-category:hover{
    background-color: #eef3f5;
    border: 0.4px solid #546c80;
}
.add-subcategory:hover{
    background-color: #eef3f5;
    border: 0.4px solid #546c80;
}
.add-category span {
    font-size: 22px;
}
.add-category b {
    margin-left: 5px;
    font-size: 20px;
}
.add-subcategory span {
    font-size: 16px;
}
.add-subcategory b {
    margin-left: 5px;
    font-size: 14px;
}
.category-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-img{
    height: 40px;
    width: 130px;
    font-size: 16px;
    padding: 0 5px;
    text-align: left;
}
.cat-tr th{
    font-size: 14px;
    height: 60px;
    padding: 5px;
}
.cat-tr-add th{
    font-size: 14px;
    height: 60px;
    padding: 10px;
}
.cat-tr td{
    padding: 5px;
    font-size: 13px;
    height: 80px;
    align-items: center;
}
.cat-update-tr td{
    padding: 5px;
    font-size: 13px;
    height: 80px !important;
    align-items: center;
    background-color: #E9EAEC;
}
.subcat-update-tr td{
    font-size: 12px;
    height: 70px !important;
    align-items: center;
    background-color: #E9EAEC;
    padding: 0  18px;
}
.cat-img-th{
    width: 60px;
}
.cat-name-th{
    width: 170px;
}
.cat-rank-th{
    width: 120px;
}
.cat-desc-th{
    width: auto;
}
.cat-subcat-count-th{
    width: 150px;
}
.cat-isactive-th{
    width: 140px;
}
.cat-edit-th{
    width: 160px;
}
.cat-isactive-td i{
    font-size: 30px;
}
.cat-isactive-true{
    color: #fff;
    background-color: #4cbb17;
    height: 24px;
    padding-top: 2px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #367e15;
    text-align: center;
    width: 60px;
    user-select: none;
}
.cat-isactive-false{
    color: #fff;
    background-color: #db1f48;
    height: 24px;
    padding-top: 2px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #72162a;
    text-align: center;
    width: 60px;
    user-select: none;
}
.subcat-isactive-true{
    color: #fff;
    background-color: #4cbb17;
    height: 22px;
    padding-top: 2px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #367e15;
    text-align: center;
    width: 50px;
    user-select: none;
    font-size: 12px;
}
.subcat-isactive-false{
    color: #fff;
    background-color: #db1f48;
    height: 22px;
    padding-top: 2px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #72162a;
    text-align: center;
    width: 50px;
    user-select: none;
    font-size: 12px;
}
.cat-edit{
    color: #145da0;
    font-size: 22px;
}
.cat-delete{
    color: #db1f48;
    font-size: 22px;
}
.subcat-edit{
    color: #145da0;
    font-size: 20px;
}
.subcat-delete{
    color: #db1f48;
    font-size: 20px;
}
.subcat-tr td{
height: 60px;
padding: 0  18px;
}
.no-subcat{
    height: 120px;
    width: 100%;
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}
.cat-subcategory{
    display: flex;
    justify-content: center;
}
.cat-subcategory-tb{
    width: 90%;
}
.cat-subcategory-head{
    margin-left: 5%;
    width: 90%;
}
.cat-add-img{
    height: 125px;
}

.p-delete-modal{
    font-size: 26px;
    text-align: center;
}
.delete-modal-btn{
    font-size: 60px !important;
}
.image-btn{
    position: absolute;
    top: 10px;
    left: 70px;
    font-size: 18px;
}
.update-cat-img-td{
    position: relative;
}
.bg-subcategory{
    background-color: #BFD7ED !important;
}
.update-cat-name{
    padding-left: 25px !important;
}
.cat-name{
    padding-left: 15px !important;
}
.update-input{
    padding: 5px;
}
.update-confirm button{
    height: 40px !important;
}
.subcat-th{
    font-size: 14px;
}