<div class="product-header">
  <h3 class="m-3 mb-4">Ürünler</h3>
  <div class="add-product" (click)="AddProduct()">
    <span><i class="fa-regular fa-plus"></i></span>
    <b>Yeni Ürün</b>
  </div>
</div>
<div>
  <p-table
    #dtproducts
    [styleClass]="tableSize"
    [value]="productList"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Toplam {totalRecords} üründen {first} ve {last} arası gösteriliyor"
    [globalFilterFields]="[
      'name',
      'description',
      'price',
      'usage',
      'barcode',
      'categoryName',
      'subCategoryName'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-between">
        <button
          pButton
          label="Temizle"
          class="p-button-outlined"
          icon="pi pi-filter-slash"
          (click)="clear(dtproducts)"
        ></button>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="
              dtproducts.filterGlobal($any($event.target).value, 'contains')
            "
            placeholder="Arama..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 80px">
          <div class="flex align-items-center"></div>
        </th>

        <th style="min-width: 15rem" pSortableColumn="name">
          <div class="flex align-items-center">
            Ürün Adı
            <p-columnFilter
              type="text"
              field="name"
              display="menu"
              matchMode="contains"
              [showMatchModes]="false"
            ></p-columnFilter>
            <p-sortIcon field="name"></p-sortIcon>
          </div>
        </th>

        <th style="min-width: 15rem" pSortableColumn="categoryName">
          <div class="flex align-items-center">
            Kategorisi
            <p-columnFilter
              field="categoryName"
              matchMode="in"
              display="menu"
              [showMatchModes]="false"
              [showOperator]="false"
              [showAddButton]="false"
            >
              <ng-template pTemplate="header">
                <div class="px-3 pt-3 pb-0">
                  <span class="font-bold">Kategoriler</span>
                </div>
              </ng-template>
              <ng-template
                pTemplate="filter"
                let-value
                let-filter="filterCallback"
              >
                <p-multiSelect
                  [ngModel]="value"
                  [options]="groupedSub"
                  placeholder="Any"
                  (onChange)="filter($event.value)"
                >
                  <ng-template let-option pTemplate="item">
                    <div class="inline-block vertical-align-middle">
                      <img
                        src="{{ option.image }}"
                        width="24"
                        class="vertical-align-middle"
                      />
                      <span class="mx-2 mt-1">{{ option.label }}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
            <p-sortIcon field="categoryName"></p-sortIcon>
          </div>
        </th>

        <th style="min-width: 15rem" pSortableColumn="subCategoryName">
          <div class="flex align-items-center">
            Alt Kategorisi
            <p-columnFilter
              field="subCategoryName"
              matchMode="in"
              display="menu"
              [showMatchModes]="false"
              [showOperator]="false"
              [showAddButton]="false"
            >
              <ng-template pTemplate="header">
                <div class="px-3 pt-3 pb-0">
                  <span class="font-bold">Alt Kategoriler</span>
                </div>
              </ng-template>
              <ng-template
                pTemplate="filter"
                let-value
                let-filter="filterCallback"
              >
                <p-multiSelect
                  [ngModel]="value"
                  [options]="groupedSub"
                  [group]="true"
                  placeholder="Any"
                  (onChange)="filter($event.value)"
                  display="chip"
                >
                  <ng-template let-group pTemplate="group">
                    <div class="flex align-items-center">
                      <img src="{{ group.image }}" style="width: 20px" />
                      <span class="mx-1">{{ group.label }}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
            <p-sortIcon field="subCategoryName"></p-sortIcon>
          </div>
        </th>

        <th style="min-width: 10rem" pSortableColumn="totalPriceTl">
          <div class="d-flex align-items-center">
            TL Fiyat
            <p-columnFilter
              type="numeric"
              field="totalPriceTl"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon field="totalPriceTl"></p-sortIcon>
          </div>
        </th>

        <th style="min-width: 10rem">
          <div class="d-flex align-items-center">
            Status
            <p-columnFilter
              class="mx-1"
              type="boolean"
              field="isActive"
            ></p-columnFilter>
          </div>
        </th>

        <th style="min-width: 10rem">Detay</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <img src="{{ product.imageUrl }}" style="width: 50px" />
        </td>
        <td>
          {{ product.name }}
        </td>
        <td>
          {{ product.categoryName }}
        </td>
        <td>
          {{ product.subCategoryName }}
        </td>
        <td>₺ {{ product.totalPriceTl }}</td>
        <td>
          <div *ngIf="product.isActive" class="product-isactive-true">
            <b>Aktif</b>
          </div>
          <div *ngIf="!product.isActive" class="product-isactive-false">
            <b>Pasif</b>
          </div>
        </td>
        <td>
          <i class="fa-regular fa-eye detail-icon"></i>
          <i class="fa-regular fa-memo-circle-info"></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">Ürün Bulunamadı.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
